# Server config
SERVER_HOST=127.0.0.1
SERVER_PORT=8080
SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=10
CORS_ALLOWED_ORIGINS=http://localhost:3030,http://localhost:5173

# DB config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=go-web-template

# App config
APP_ENVIRONMENT=local
APP_LOG_LEVEL=debug
APP_COOKIE_DOMAIN=

# Seed config
SEED_ROOT_USER="root@local.host"
SEED_ROOT_PASSWORD="password"

# Redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Session config
SESSION_TTL_HOURS=24 # 1 day
SESSION_REMEMBER_ME_TTL_HOURS=336 # 14 days
